#header {

  position: relative;
  top: 43px;
  height: 90px;
  background: #333;
  
  }

body {
  background-image:url(pozadina.jpg);
  min-width: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 

}


#meni{
  float: left;
  margin-top: 55px;
}

#logo{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

 #meni a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 10px;
  margin-top: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  

#meni a:hover {
    color: 	#1E90FF;
  }
  
#meni a.active {
     color: #1E90FF;
  }

 

#sadrzaj{
    padding: 50px;
    position: relative; 
    
    margin-top: 43px;  

   
   }
 
#forma{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border: 2px solid #F5F5F5;
    padding: 30px;
    width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1E90FF;
    color:white;   
}

#forma label{
	float: left;
    width: 100px;
}

#forma input[type=text], #forma input[type=email], #forma input[type=number]
{
       
    border: 1px solid black;
     padding: 5px 8px 5px 8px;

     
}

#forma input[type=submit]
{
  float: right;
  width: 100px;
  
  padding: 3px 5px 3px 5px;
  margin-right: 12px;
  
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:15px;
  color:white;
  border:2px solid white;
  background: lightslategray;

}
 
 

  
@media only screen and (max-width: 599px) {

  #header{
    height: 180px;
  }
  
  #meni{
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
  }
  #meni a {
    float: none;
    color: #f2f2f2;
    font-size: 20px;
     
  }

  #sadrzaj{
    padding: 10px;
  }

  #forma{
    margin-top: 50px;
    text-align: center;
    height: 330px;

   
}
#forma label{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    
}

#forma input[type=submit]
{
  float: none;

}

}

  

 